body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

#myLabel {
    font-size: 2rem;
    color: rgb(0, 255, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 255, 0, 0.8);
}